# tested for each provider

# APNS
-e git+git@github.com:alej0varas/apns2-client.git@pypn#egg=apns2_client

# GCM
-e git+https://github.com/geeknam/python-gcm.git@develop#egg=python_gcm

# OneSignal
yaosac==0.0.6
